PORT=3002
RELAY_TOKENS=home:replace-with-strong-random-token
REQUIRE_SECURE_TRANSPORT=true

RELAY_MAX_WS_MESSAGE_BYTES=4194304
RELAY_MAX_PAYLOAD_BYTES=3145728
RELAY_RATE_LIMIT_WINDOW_MS=60000
RELAY_RATE_LIMIT_MAX_MESSAGES=6000
RELAY_HEARTBEAT_INTERVAL_MS=30000
